.heading {
  font-family: "Montserrat", sans-serif;
  color: hsl(202, 57%, 15%);
  font-weight: 700;
  text-transform: capitalize;
}
.heading-1 {
  font-family: "Montserrat", sans-serif;
  color: hsl(201, 23%, 34%);
  font-weight: 400;
}
